  /* Center contents of the body */

.center{
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:0 auto;
}
.btn {
    background-color:blue;
    color: white;
    border-radius: 4px;
}
#timer{
        position:absolute;
        top:0;
        right: 10px;;
        font-size: 15px;
    }
#highscores {
    position: fixed;
    top:0;
    left: 10px;;
}


