  /* Center contents of the body */

.center{
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:0 auto;
}
.btn {
    background-color:blue;
    color: white;
    border-radius: 4px;
}
#timer{
        position:absolute;
        top:0;
        right: 10px;;
        font-size: 15px;
    }
#highscores {
    position: fixed;
    top:0;
    left: 10px;;
}

.choice-container {
    display:flex;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 4px;
    background: blue;
    font-size:medium;
    min-width: 50%;
    color:white
}

.choice-container:hover{
cursor:pointer;
box-shadow:lightblue;
}

.choice-prefix{
    padding: 2px 2.5px;
    color: white;
}

.choice-text {
    padding: 2px;
    width: 100%
}

.correct {
    background:turquoise;
}

.incorrect {
    background:orange;
}

#question {
    display:flex;
    justify-content: space-between;
}

.choice-prefix {
    text-align:center;
    font-size:medium
}


@media screen and (max-width: 768px) {
    .choice-container {
        min-width: auto;
    }
}

